<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    fieldset {
      border:0;
    }
  </style>
</head>
<body>
  <form>
    <fieldset>
      <legend>ID</legend>
      <input type = "text">
    </fieldset>
    <fieldset>
      <legend>password</legend>
      <input type = "password">
      
    </fieldset>
    <fieldset>
      
      <label for ="p1">축구</label>
      <input type = "checkbox" id = "p1">
      <label for ="p2">야구</label>
      <input type = "checkbox" id = "p2">
      <label for ="p3">배구</label>
      <input type = "checkbox" id = "p3">
      <label for ="p4">농구</label>
      <input type = "checkbox" id = "p4">
    </fieldset>

    <fieldset>
      <legend>아이디</legend>
        <input type = "text" name = "department_name" value = "test">
    </fieldset>
    <fieldset>
      <legend>비밀번호</legend>
      <input type = "text" name = "manager_id" value = "test2">
    </fieldset>
      
      <input type = "submit" value ="등록">
          
    
  </form>
</body>
</html>